<appSettings>
	
	<!--<add key="ConnectionString" value="database=AltioStarHR;Server=IRCA91SERVER,1433;uid=altiostar;pwd=altiostarpwd;trusted_connection=false;"  />-->
	<!--<add key="ConnectionString" value="database=AltioHR;Server=IRCAHOSTSERVER,1433;uid=sa;pwd=irca@123;trusted_connection=false;" />-->
  <!--<add key="ConnectionString" value="database=AltioStarHR;Server=IRCAHOSTSERVER,1433;uid=sa;pwd=irca@123;trusted_connection=false;"  />-->
  <!--<add key="ConnectionString" value="database=Altio;Server=irca_dev;uid=sa;pwd=123456789;trusted_connection=false;"  />-->
    <!--<add key="ConnectionString" value="database=HRMSFEB06;Server=WIN-BRACN8E06FE\SQLEXPRESS,52273;uid=icms;pwd=123456789;trusted_connection=false;"  />-->

    <add key="ConnectionString" value="database=ARATT;Server=IRCA91SERVER\SQLEXPRESS,1244;uid=sa;pwd=123456789;trusted_connection=false;" />

    <add key="ApplicationName" value="AltioStarHR"/>
	<add key="ApplicationShortName" value="AltioStarHR"/>
	<add key="PWDPLDays2Expire" value="" />
	<add key="PWDPLEnforcePWD1" value="true" />
	<add key="PWDPLEnforceUNLogin5" value="true" />
	<add key="smtpserver" value="smtp.gmail.com" /> 
	<add key="smtpserverport" value="587" />
	<add key="smtpEnableSSL" value="True" />
	<add key="smtpEmbedImages" value="False" />
	<add key="smtpAuthEmail" value="noreply@ircaindia.com" />
	<add key="smtpAuthPWD" value="Irc@1ndiA" />
	<add key="smtpFromEmail" value="noreply@ircaindia.com" />
	<add key="smtpAdminEmail" value="noreply@ircaindia.com" />
	<add key="offerletterdays" value="15" />
	<add key="sendername" value="ABC" />
	<add key="CTC" value="20000" />
	<add key="FromEmail" value="varsha@ircaindia.com" />
	<!--auto-email related-->
	<add key="InterviewScheduleLetterFromEmail" value="noreply@ircaindia.com" />
	<add key="ApplicationACKLetterFromEmail" value="noreply@ircaindia.com" />
	<add key="OrganisationName" value="Kurlon Limited"/>
	<add key="EmpCodePrefix" value="EMP" />
	<add key="BankManagerEmail" value="archan@ircaindia.com" />
	<add key="EducationCess" value="3" />
	<add key="LeaveSalaryLimit" value="300000" />
	<add key="PrmESIEmployerContribution" value="4.25" />
	<add key="PFAmount" value="6500" />
	<add key="ESILimit" value="15000" />
	<add key="ESIExcludedCodes" value="LTA,MCL,MRM," />
	<add key="MaximumFoodCouponAmount" value="1300" />
	<add key="MaximumMedicalClaim" value="15000" />
  <add key="TotalAnnualLeave" value="30" />
	<!--<add key="CandidateURL" value="220.227.125.108/KurlonHR" />-->
	<add key="CandidateURL" value="192.168.1.4/products/TestRelease/KurlonHR" />

	<!--scheduler related-->
	<add key="Scheduler_JobPages" value="~/HRMailHandler.ashx" />
	<!--<add key="Scheduler_JobPages" value="http://localhost:80/HRMailHandler.ashx" />-->
	<add key="Scheduler_JobIntervals" value="3m" />
	<add key="Scheduler_PollInterval" value="1" />
	<add key="EducationType" value="NTUG_Upto 12th Std,NTUG_Incomplete graduation,NTG_BA,NTG_B.Com,NTG_B.Sc.,NTG_BBM,NTG_Others,NTPG_MA,NTPG_M.Com.,NTPG_M.Sc.,NTPG_MBA,NTPG_Others,TUG_Upto 12th Std,TUG_Incomplete graduation,TG_Diploma or ITI,TG_BE,TG_B.Tech,TG_Others,TPG_ME,TPG_M.Tech,TPG_Others" />
	<add key="Loan_Reason" value="Marriage of self / family members,Education of Children,Death of family members,Medical treatment of self and family members,Purchase of site or a house property in Bangalore,Renovation or construction of house/building,Payment towards house rent advance or rent deposit,Others" />
	<add key="IsPreviousMonthLOP" value="true"/>
	<add key="AssetUniqueNo" value="ASU-" />
    <!--<add key="LDAPPath" value="LDAP://IRCA91SERVER" />-->
    <add key="LDAPPath" value="LDAP://irca91server.ircaserver91.com" />
    <!--<add key="LDAPPath" value="ldap://127.0.0.1:389/dc=maxcrc,dc=com" />-->
    <add key="DomainName" value="irca91server.ircaserver91.com" />
    <add key="Domain" value="IRCA91SERVER" />
    <add key="AMethod" value="" />

</appSettings>
