<!DOCTYPE html>

<script runat="server">

    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)

    End Sub
</script>

<html>
<head>
    <style type="text/css">
        .Mailbody
        {
        	font-family: Arial;
            font-size: 12px;
            padding-left:20px;
        }
        .MailHeader
        {
        	font-family: Arial;
            font-size: 14px;
            font-weight:bold;
            padding-top:15px;
        }
        .Mailbottom
        {
        	font-family: Arial;
            font-size: 14px;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <form style="width: 394px; height: 291px; background-color: #FFCC00" action="">
        <p class="MailHeader">Dear {!ToName},</p>
        <p class="Mailbody">We regret to inform that the following candidate has been rejected.</p>
        <p class="Mailbody">Candidate Name : {!CandidateName}</p>
        <p class="Mailbody">Rejection Reason: {!Reason}</p>
        <p class="Mailbody"> Kindly login to view the details of the candidate.</p>
        <p class="Mailbody">Click on <a href="192.168.1.2/altiohr">192.168.1.2/altiohr</a></p>
        <p class="Mailbottom">Regards,</p>
        <p class="Mailbottom">AltiostarHR</p>
    </form> 
</body>
</html>