<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Experience</title>
    <style type="text/css">
        </style>
</head>
<body style="background-color: transparent"><title>Experience</title>
    
<style type="text/css">
<!--

-->
</style>




    
<title>Experience</title>
    
<style type="text/css">
<!--

-->
</style>


<title>Experience</title>
    

<style type="text/css">
<!--

-->
</style>




    

<title>Experience</title>
    

<style type="text/css">
<!--

-->
</style>


    

<div class="WordSection1" id="WordSection1">
        
	
	<table style="width: 100%; height: 100%; table-layout: fixed;">
            
		
		<tbody>
			
			<tr>
                
				
				<td align="left" colspan="3">
                    
					
					<table style="width: 100%;">
                        
						
						<tbody>
							
							<tr>
                            
								
								<td align="left">
                                <img src="../Resources/images/altiostar.png">
                                <br>
									
									
                                <br>
									
									
                            </td>
                        
							
							</tr>
                        
							
							<tr>
                            
								
								<td align="right">
                                <span style="font-weight: bold;">Place: <span style="font-style: italic;">ddd</span></span>
                            </td>
                        
							
							</tr>
                        
							
							<tr>
                            
								
								<td>
                                <span style="font-weight: bold;">Date:<span style="font-style: italic;">14/01/2014</span></span>
                            </td>
                        
							
							</tr>
                        
							
							<tr>
                            
								
								<td>
                                
									
									<table align="center">
                                    
										
										<tbody>
											
											<tr>
                                        
												
												<td>
                                            
													
													<p>
                                                <span style="font-weight: bold; text-decoration: underline;">To Whomsoever It May Concern</span></p>
                                        </td>
                                    
											
											</tr>
                                
										
										</tbody>
									
									</table>
                            </td>
                        
							
							</tr>
                    
						
						</tbody>
					
					</table>
                </td>
            
			
			</tr>
            
			
			<tr style="width: 100%;">
                
				
				<td style="width: 100%;">
                    
					
					<p>
                        Radio Mobile Access name has been changed to AltioStar Networks India Pvt. Ltd.
                    </p>
                    
					
					<p>
                        This is to certify that <span style="font-style: italic;">Ravi K</span>worked as a full time employee with
                        us <span style="font-style: italic;">01/12/2013</span> to <span style="font-style: italic;">30/01/2014</span> as a <span style="font-style: italic;">Accountant</span>.
                    </p>
                    
					
					<p>
                        During this period he worked in <span style="font-style: italic;">QQQQQQQ</span></p>
                    
					
					<p>
                        We wish <span style="font-style: italic;">Ravi K</span> the best in his future endeavor.</p>
                    
					
					<p>
                        <span style="font-weight: bold;">For AltioStar Networks India Pvt. Ltd,</span></p>
                </td>
            
			
			</tr>
            
			
			<tr>
                
				
				<td>
                    
					
					<p>
                        Sincerely,
                    </p>
                </td>
            
			
			</tr>
            
			
			<tr>
                
				
				<td align="left" colspan="3">
                    ________________
                    <br>
					
					
                </td>
            
			
			</tr>
            
			
			<tr>
                
				
				<td>
                    <span style="font-weight: bold;">Sonali Gholap</span>
                    <br>
					
					
                    <span style="font-weight: bold;">HR-Manager</span>
                    <br>
					
					
                </td>
            
			
			</tr>
        
		
		</tbody>
	
	</table>
        
	
	<div>
            
		
		<table width="100%" align="center">
                
			
			<tbody>
				
				<tr>
                    
					
					<td>
                        
						
						<p>
                            AltioStar Networks India Pvt Ltd. Embassy Heights 3rd floor, #13 Magrath Road, Bangalore
                            – 560025, India. www.altiostar.com</p>
                    </td>
                
				
				</tr>
            
			
			</tbody>
		
		</table>
        </div>
    </div>






<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">


<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">


<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8"></body>
</html>
<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">