<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>
<head>
    <title>TITAN HRMS</title>
</head>
<body style="background-color: transparent">
   <table style="table-layout: fixed; width: 100%; height: 100%">
        <tr>
            <td>
                <img alt="Logo" src="cid:{0}"/>
                <br/><br/><br/>
                <label id= "lReimType">{1}</label>
            </td>
        </tr>     
        <tr>
            <td >
                <br /><br /><br />
                This electronic mail message, including any attachments, is a confidential communication
                exclusively between the Sender or the Company/Organization the sender represents,
                and the intended recipient(s) indicated as the addressee(s). It contains information
                that is private and may be proprietary or may be covered by legal professional privilege.
                If you receive this message in any form and you are not the intended recipient you
                must not review, use, disclose or disseminate it. Please contact the sender upon
                receipt and in any event, you should destroy this message without delay. Anything
                contained within this message that is not connected with the business of Sender
                or the Company/Organization the sender represents or its affiliates is neither endorsed
                by nor is the liability of the Sender or the Company/Organization the sender represents.
            </td>
        </tr>
    </table>
</body>
</html>