<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        </style>
</head>
<body style="background-color: transparent"><title>Untitled Page</title>
    
<style type="text/css">
<!--

-->
</style>




    
<title>Untitled Page</title>
    
<style type="text/css">
<!--

-->
</style>


    
<div>
        
	<table style="top: auto;">
            
		<tbody>
			<tr>
                
				<td align="left">
                    <img src="../Resources/images/altiostar.png">
                    <br>
					
                    <br>
					
                </td>
            
			</tr>
        
		</tbody>
	</table>
    </div>
    
<div id="WordSection1">
        
	<table style="width: 100%;">
            
		<tbody>
			<tr>
                
				<td align="right">
                    <span style="font-weight: bold;">Place: <span style="font-style: italic;">Bangalore</span></span>
                </td>
            
			</tr>
            
			<tr>
                
				<td>
                    <span style="font-weight: bold;">Date:<span style="font-style: italic;">23/01/2014</span></span>
                </td>
            
			</tr>
            
			<tr>
                
				<td align="left">
                    <span style="font-weight: bold;">Dear, <span style="font-style: italic;">Ranjitha Morya</span></span>
                </td>
            
			</tr>
            
			<tr>
                
				<td>
                    
					<table style="width: 100%;">
                        
						<tbody>
							<tr>
                            
								<td>
                                
									<p>
                                    This refers to your resignation letter.</p>
                                
									<p>
                                    Please note that you are being relieved from the services of the Company effective
                                    from the closing hours of <span style="font-style: italic;">30/01/2014</span>.
                                </p>
                                
									<p>
                                    We wish you the very best in your future endeavors.</p>
                                
									<p>
                                    <span style="font-weight: bold;">For AltioStar Networks India Pvt. Ltd,</span></p>
                            </td>
                        
							</tr>
                    
						</tbody>
					</table>
                </td>
            
			</tr>
            
			<tr>
                
				<td>
                    
					<p>
                        Sincerely,
                    </p>
                </td>
            
			</tr>
            
			<tr>
                
				<td align="left" colspan="3">
                    ________________
                    <br>
					
                </td>
            
			</tr>
            
			<tr>
                
				<td>
                    <span style="font-weight: bold;">Sonali Gholap</span>
                    <br>
					
                    <span style="font-weight: bold;">HR-Manager</span>
                    <br>
					
                </td>
            
			</tr>
        
		</tbody>
	</table>
        
	<div id="footer">
            
		<table width="100%" align="center">
                
			<tbody>
				<tr>
                    
					<td>
                        
						<p>
                            AltioStar Networks India Pvt Ltd. Embassy Heights 3rd floor, #13 Magrath Road, Bangalore
                            – 560025, India. www.altiostar.com</p>
                    </td>
                
				</tr>
            
			</tbody>
		</table>
        </div>
    </div>





<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8"></body>
</html>
<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">